<h2>Want to see my answer about going to vegas?? Click the button below!</h2>

<button onclick="myFunction()">Click me</button>

<h1 id="demo"></h1>

<script>
function myFunction() {
    document.getElementById("demo").innerHTML = "NO!!";
}

function timeToMake() {
	document.getElementById('time').innerHTML = ""
}
</script>